a {
  text-decoration: none;
  color: black;
}

#Products__cardContent {
  padding-bottom: 0;
}

.css-u5o34-MuiSvgIcon-root-MuiPaginationItem-icon {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .header__pc {
    display: none;
  }

  .Nav__input-pc {
    display: none;
  }

  #Nav__register,
  #Nav__login {
    font-size: 1.2rem;
  }

  #Nav__logo {
    width: 120px;
  }

  #Nav__cart {
    font-size: 14px;
  }

  #PlaceOrder__orderDetail-icon,
  #Order__orderDetail-icon {
    height: 5rem;
    width: 5rem;
    padding: 1.6rem;
  }

  #PlaceOrder__orderDetail-text,
  #Order__orderDetail-text {
    font-size: 1.2rem;
  }
  #PlaceOrder__orderDetail-textTitle,
  #Order__orderDetail-textTitle {
    font-size: 1.4rem;
  }

  #PlaceOrder__button {
    width: 40%;
  }

  #PlaceOrder__table,
  #Order__table {
    margin-left: 0;
    margin-top: 4rem;
  }

  #PlaceOrder__product,
  #Order__product {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  #Nav__pc {
    display: none !important;
  }

  #PlaceOrder__orderDetail-container,
  #Order__orderDetail-container {
    display: flex;
    flex-direction: column;
  }

  #PlaceOrder__orderDetail-text,
  #Order__orderDetail-text {
    width: 88%;
  }
}

@media (max-width: 600px) {
  #PlaceOrder__orderDetail-container,
  #Order__orderDetail-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #PlaceOrder__qty-price,
  #Order__qty-price {
    margin-top: 1rem;
  }

  #Profile__img {
    width: 8rem;
  }
}

@media (max-width: 400px) {
  #Newsletter__input {
    font-size: 1rem;
  }

  #Home__font {
    font-size: 1.2rem;
  }

  #Home__cardMedia {
    width: 10rem;
    height: 10rem;
  }

  #Profile__img {
    width: 5rem;
  }
}

@media (min-width: 900px) {
  .Nav__input-mobile {
    display: none;
  }
  .Nav__mobile {
    display: none !important;
  }
}

@media (min-width: 767px) {
  .Nav__mobile {
    display: none !important;
  }
}
