a {
  text-decoration: none;
  color: black;
}

#Products__cardContent {
  padding-bottom: 0;
}

.css-u5o34-MuiSvgIcon-root-MuiPaginationItem-icon {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .header__pc {
    display: none;
  }

  .Nav__input-pc {
    display: none;
  }

  #Nav__register,
  #Nav__login {
    font-size: 1.2rem;
  }

  #Nav__cart {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  #Nav__pc {
    display: none !important;
  }
}

@media (max-width: 400px) {
  #Newsletter__input {
    font-size: 1rem;
  }

  #Home__font {
    font-size: 1.2rem;
  }

  #Home__cardMedia {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 900px) {
  .Nav__input-mobile {
    display: none;
  }
  .Nav__mobile {
    display: none !important;
  }
}

@media (min-width: 767px) {
  .Nav__mobile {
    display: none !important;
  }
}
